

<!DOCTYPE html>
<html  lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  </head>


<footer>
  <div class="contact">
        <h2>Let's Connect</h2><br>
        <div class="flex-grid-thirds">
          <div class="icon">
            <a href="mailto:spamemail@gmail.com" title="Email" aria-label="Email link">
            <i style="font-size:3em; color:white;" class="fas fa-envelope"></i></a>
          </div>
          <div class="icon">
            <a href="https://www.linkedin.com/in/ilma-bilic-05001510a" title="Visit linkedin website" aria-label="second link">
            <i style="font-size:3em; color:white;" class="fab fa-linkedin"></i></a>
          </div>
          <div class="icon">
            <a href="https://github.com/ibilic" title="Visit example.com website" aria-label="second link">
            <i style="font-size:3em; color:white" class="fab fa-github-square"></i></a>
          </div>
        </div>
  </div>
  &copy;  Ilma Bilic
</footer>

</div>

<style>
footer{
  left: 0;
  bottom: 0;
  width: 100%;
  padding:20px 0;
  background-color: #2e3192;
  color: white;
  text-align: center;
}

.contact{
  padding: 50px;
  /* background: #abacbfb3; */
  background:#2e3192;
  text-align: center;
}
.flex-grid-thirds{
  display: flex;
}

.flex-grid-thirds .icon {
  flex: 1 1 auto;
}


i{
   font-size:3em;
   color: white;
}
</style>

</html>
