
@media only screen and (max-width: 650px){
body{margin:0;}
.navigation-bar{
  top: unset;
  bottom: 0;
  background: lightgrey;
}
  .navigation-bar ul{
    display: flex;
    flex-wrap: nowrap;
    flex:1;
    padding: 0;
  }
  .navigation-bar a{
    font-size: 100%;
  }
  .navigation-bar .logo{display: none; }
  footer{display: none;}


@media only screen and (min-width: 650px){



}

@media only screen and (min-width:1000px){

}
