


/* @media only screen and (min-width: 650px){ */


@media only screen and (min-width:900px){
  .flex-grid-thirds .col {
    width: 25%;
    height: 300px;
    }
}

@media only screen and (max-width: 650px){
  main {
    margin-top: 0px;}
.navigation-bar{
  top: unset;
  bottom: 0;
  background: #f9f9f9;
}
  .navigation-bar ul{
    display: flex;
    flex-wrap: nowrap;
    flex:1;
    padding: 0;
  }
  .navigation-bar a{
    font-size: 100%;
  }
  .navigation-bar .logo{display: none; }
  footer{display: none;}
}
