


/* @media only screen and (min-width: 650px){ */


@media only screen and (max-width: 650px){
  main {
    margin-top: 0px;}

.logo img{display: none;}
header{bottom:0;}

.navigation-bar{
  top: unset;
  bottom: 0;
  background: #f9f9f9;
}
  .navigation-bar ul{
    display: flex;
    flex-wrap: nowrap;
    flex:1;
    padding: 0;
  }
  .navigation-bar a{
    font-size: 100%;
  }
  .navigation-bar .logo{display: none; }
  .prog{padding: 20px 0px;}

#coder, #designer{
  background-image: none;
  color: black;}
.intro{height: auto;}

#coder h1, #designer h1{margin: 0 auto 0 auto; color:black; font-size: 20px; text-align: center;}




  footer{display: none;}
}

@media only screen and (min-width:650px){
  .flex-grid-thirds .col {
    width: 25%;
    height: 300px;
    }
}
